Setting up a continuous jog button
----------------------------------

(requires very latest firmnware)

Setup up a button that when pressed will jog the axis for as long as the button is pressed, and stop when it is released.

<code>
switch.jog.enable                true       # Enable this module
switch.jog.input_pin             1.30^      # Pin where reset button is connected
switch.jog.output_on_command   $J_-c_X10    # Jog X axis in positive direction at full speed (Note _ is used instead of space)
switch.jog.output_off_command   $J_STOP     # Stops the jog when the switch is released
</code>
